<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
</head>
<body>
    
<!DOCTYPE html>

<html lang="en-us" >
<head>
    <title>Log in | {{title}} </title>
    <link rel="stylesheet" type="text/css" href="/static/admin/css/base.css">
    <link rel="stylesheet" type="text/css" href="/static/admin/css/login.css">


    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/admin/css/responsive.css">
    <meta name="robots" content="NONE,NOARCHIVE">
    <style>
        .login .form-row #id_email, .login .form-row #id_rpassword,
        .register .form-row #id_password1,
        .register .form-row #id_password2{
    clear: both;
    padding: 8px;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    }
    </style>
</head>


<body class=" login"
  data-admin-utc-offset="21600">

  {% block content %} {% endblock %}
</body>
</html>

</body>
</html>